.user-name {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 22.5rem;
  max-height: 14rem;
  margin: 0;
  padding: 0;
}

.input-heading-text {
  font: normal normal bold 16px/24px Open Sans;
  text-align: left;
  width: 8rem;
  height: 1.4rem;
  padding-bottom: 1rem;
}

.input-text {
  width: 22.5rem;
  height: 3.5rem;
  border-radius: 28px;
  border: 1px solid #6bb531;
  padding: 0.5rem 1.5rem;
  font-size: 18px;
}

.password {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.lozinka-input {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
}

.fa-eye {
  position: absolute;
  top: 60%;
  right: 8%;
  cursor: pointer;
  color: black;
  opacity: 0.5;
}

.lozinka-checkbox-linija {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkbox-linija {
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox-linija input[type="checkbox"] {
  border: 1px solid #6bb531;
}

#checkbox {
  width: 1.7rem;
  height: 1.7rem;
  margin: 0.4rem;
  background-color: white;
  border-radius: 6px;
  opacity: 1;
  border: 1px solid #6bb531;
  position: relative;
}

.checkbox-text {
  font-size: 1rem;
}

a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.login-dugme {
  max-width: 22rem;
  max-height: 7rem;
  padding-bottom: 3rem;
}
