.sign-up-window,
.password-window {
  height: 570px;
}

.tekst {
  box-sizing: border-box;
  font-size: 1rem;
  width: 360px;
  height: 46px;
}

.e-mail {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 22.5rem;
  max-height: 14rem;
  margin-top: 1rem;
  padding: 0;
}

.login-dugme-password {
  padding-top: 1rem;
}

.login-dugme-password button {
  width: 22.5rem;
  height: 4.3rem;
  margin: auto;
}

.login-link {
  margin-bottom: 64px;
}

.login-link a {
  color: #6bb531;
}
