html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  background-color: #f2f2f3;
}

.stranica {
  display: grid;
  grid-template-columns: 100px 55px 90%;
  grid-template-rows: 10% 90%;
  width: 100vw;
  height: 100vh;
}

.main-header {
  grid-column: 1 4;
  grid-row: 1 2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100vw;
  background-color: white;
  height: 75.35px;
  z-index: -2;
  min-width: 25rem;
}

.main-header a {
  text-decoration: none;
}

.moj-profil-link {
  width: 12.5rem;
  height: 3.1rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}

.moj-profil-link img {
  height: 3.1rem;
  align-self: center;
}

.moj-profil-link p {
  color: black;
  font-size: 18px;
}

.side-nav {
  grid-column: 1 3;
  margin: 0;
  display: flex;
  height: 100%;
  position: fixed;
  z-index: 2;
}

.side-nav-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
}

.nav-bar-img {
  padding: 1rem 0;
  width: 3.5rem;
  height: 2.5rem;
  padding-top: 1rem;
}

.nav-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(104, 177, 48, 0.2);
  height: 100vh;
  width: 6.25rem;
}

.nav-list-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 1.5rem;
}

.nav-list-polje {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 3rem;
  padding: 0.75rem 0;
}

.nav-list-polje:active {
  background-color: white;
}

.nav-list-btn {
  border-radius: 100%;
  height: 3rem;
  width: 3rem;
  /* padding: 0.75rem 0; */
  border: 0;
  background-color: rgb(104, 177, 48, 0.2);
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.nav-list-btn-tekst {
  display: none;
}

.nav-list-btn:hover {
  background-color: #68b130;
}

.nav-list-img {
  width: 2rem;
  height: 2rem;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(191deg) brightness(102%) contrast(102%);
}

.nav-list-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 1.5rem;
}

.side-nav-button {
  padding-top: 0.75rem;
}

.button-nav {
  border-radius: 50%;
  background-color: #68b130;
  height: 3.1rem;
  width: 3.1rem;
  border: 0;
  color: white;
  font-weight: bold;
  font-size: x-large;
}

.glavna-tabela {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  margin: 2rem 3.5rem;
}

.pacijenti {
  display: flex;
  justify-content: space-between;
}

.pacijenti-pretraga {
  display: flex;
  column-gap: 2.25rem;
}

.pretraga {
  width: 15rem;
  height: 3rem;
  box-shadow: 0px 3px 6px #0000001a;
  border-radius: 35px;
  opacity: 1;
  border: 0;
}

::placeholder {
  text-align: left;
  padding: 1.31rem 10.75rem 1.31rem 1.75rem;
  font: normal normal normal 20px/24px Open Sans;
  letter-spacing: 0px;
  color: #8b8b8b;
  opacity: 1;
  background: #ffffff 0% 0% no-repeat padding-box;
}

.pretraga-btn {
  width: 10rem;
  height: 3rem;
  border-radius: 35px;
  background-color: #68b130;
  border: none;
  color: white;
  text-align: center;
  font: normal normal bold 20px/18px Open Sans;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  padding: 0;
}

.pretraga-btn i {
  font-size: 1.25rem;
  padding-left: 0.5rem;
}

.ponisti-btn {
  width: 12rem;
  height: 3rem;
  background: #e50019 0% 0% no-repeat padding-box;
  border-radius: 35px;
  opacity: 1;
  border: none;
  color: white;
  text-align: center;
  font: normal normal bold 20px/18px Open Sans;
  letter-spacing: 0px;
  color: #ffffff;
  padding: 0;
}

.dodaj-btn {
  width: 12rem;
  height: 3rem;
  border-radius: 35px;
  background-color: #68b130;
  border: none;
  color: white;
  text-align: center;
  font: normal normal bold 20px/18px Open Sans;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  padding: 0;
  white-space: nowrap;
  margin-left: 10rem;
}
